/* Header styling */
header {
    background-color: #333333;
    color: white;
    padding: 15px 0;

}

/* Styling for the navigation menu */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

/* Styling for individual list items in the navigation menu */
header nav ul li {
    display: inline;
}

/* Styling for links in the navigation menu */
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Hover effect for navigation links */
header nav ul li a:hover {
    background-color: #5bc0de;
}
